# build
*.o
*.gbc
*.1bpp
*.2bpp

# bin
Z80Dis
DumpBanks

# rgbasm extras
*.sym
*.map

# precompiled python
*.pyc

# swap files
*.swp

# visual studio
*.pdb
*.exe
*.ilk
*.obj
*.sln
*.suo

# macos files
*.DS_Store

# temporary editor backups
*~

# save files
*.sav
*.ss*
*.s0
*.s1
*.s2
*.s3
*.s4
*.s5
*.s6
*.s7
*.s8
*.s9
*.sn0
*.sn1
*.sn2
*.sn3
*.sn4
*.sn5
*.sn6
*.sn7
*.sn8
*.sn9